@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--message-background);
  border-bottom-color: transparent;
  border-radius: var(--border-radius-circle);
  display: inline-block;
  animation: rotation 1s linear infinite;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.wrapper_background {
  background: var(--chat-background);
}

.layout__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(0);
  transition: var(--transition);
}

.layout__background_light {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/pattern.svg');
    mix-blend-mode: overlay;
    opacity: 0.4;
  }
}

.layout__background_dark {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--chat-background);
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/pattern.svg');
    mix-blend-mode: overlay;
    filter: invert(0.7);
  }
}

.layout {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.layout__content {
  width: 100%;
  position: relative;
}

.layout_mobile {
  width: 100vw;
}

.layout__background_tablet {
  transform: translateX(-50vw);
}

.layout__background_mobile {
  transform: translateX(-100vw);
}

html,
body {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.no-view-transition::view-transition-old(root) {
  animation: none;
}

.no-view-transition::view-transition-new(root) {
  animation: none;
}

.reverse::view-transition-old(root) {
  background: none;
  z-index: 2;
}
