@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--message-background);
  border-bottom-color: transparent;
  border-radius: var(--border-radius-circle);
  display: inline-block;
  animation: rotation 1s linear infinite;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.wrapper_background {
  background: var(--chat-background);
}

.wrapper_background_chat {
  width: 100%;
  height: 100%;
  background: url('/assets/background.png');
  background-size: cover;
  background-position: center;
  transition: var(--transition);
  position: relative;
}

.wrapper_background_chat_light {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  &::before {
    content: '';
    background: url('/assets/pattern-light.png');
    background-size: 510px auto;
    background-position: top auto;
    mix-blend-mode: overlay;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}

.wrapper_background_chat_dark {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  background: var(--chat-background);
  &::before {
    content: '';
    background: url('/assets/pattern-dark.png');
    mix-blend-mode: unset;
    background-size: 510px auto;
    background-position: top auto;
    mix-blend-mode: unset;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}
.layout {
  width: 100%;
  height: 100%;
  display: flex;
}

html,
body {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
}

.no-view-transition::view-transition-old(root) {
  animation: none;
}

.no-view-transition::view-transition-new(root) {
  animation: none;
}

.reverse::view-transition-old(root) {
  background: none;
  z-index: 2;
}
