body[theme='light'] {
  --white: #ffffff;
  --black: #000000;

  --user-subtitle-color: #696969;
  --hover-user-badge: rgb(230, 230, 230);

  --active-user-badge-background: #2b5278;
  --active-user-subtitle-color: rgba(255, 255, 255, 0.45);

  --message-background: #476cff;
  --message-background-transparent: rgba(55, 82, 166, 0.1);
  --message-background-transparent-reply: rgba(71, 108, 255, 0.5);
  --message-input-background: #ffffff;
  --recipient-message-background: #ffffff;
  --recipient-message-text: #000000;
  --recipient-reply-text: #ffffff;

  --scrollbar-color: rgba(90, 90, 90, 0.3);

  --context-menu-background: rgba(255, 255, 255, 0.7);
  --context-item-hover-background: rgba(0, 0, 0, 0.04);

  --input-background: #e2e2e2;
  --input-placeholder: #696969;

  --time-color: rgb(170, 170, 170);
  --time-not-color: rgb(33, 33, 33);

  --sidebar-background: #f8f8f8;
  --chat-background: #ffffff;

  --avatar-gradient: linear-gradient(var(--white), 8%, #81cb6a);

  --color-error: #e53935;
  --color-recipient-error: #d46a6a;
  --color-message-error: #e57373;

  --outline-icon-button-color: rgb(112, 117, 121, 0.8);

  --checkbox-background: #c4c9cc;
  --checkbox-circle: #ffffff;
}

body[theme='dark'] {
  --white: #ffffff;
  --black: #ffffff;

  --user-subtitle-color: #a9a9a9;
  --hover-user-badge: #2a2d30;

  --active-user-badge-background: #1e3a56;
  --active-user-subtitle-color: rgba(255, 255, 255, 0.65);

  --message-background: #476cff;
  --message-background-transparent: rgba(55, 82, 166, 0.1);
  --message-background-transparent-reply: rgba(71, 108, 255, 0.3);
  --message-input-background: #212425;
  --recipient-message-background: #212425;
  --recipient-message-text: #ffffff;
  --recipient-reply-text: #000000;

  --context-menu-background: rgba(33, 36, 37, 0.7);
  --context-item-hover-background: rgba(0, 0, 0, 0.4);

  --scrollbar-color: rgba(90, 90, 90, 0.3);

  --input-background: #464646;
  --input-placeholder: #a9a9a9;

  --time-color: rgb(255, 255, 255, 0.533);
  --time-not-color: rgb(100, 100, 100);

  --sidebar-background: #212425;
  --chat-background: #181a1b;

  --avatar-gradient: linear-gradient(var(--black), 8%, #5a9f46);

  --color-error: #e53935;
  --color-recipient-error: #d46a6a;
  --color-message-error: #e57373;

  --outline-icon-button-color: rgb(170, 170, 170, 0.8);

  --checkbox-background: #707579;
  --checkbox-circle: #1d1d1d;
}
