.dropdownMenu {
  padding: var(--spacing-1);
  border-radius: var(--border-radius-8);
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: var(--context-menu-background);
  transition: opacity 0.2s ease-in-out;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
  max-width: 250px;
  min-width: 250px;
  width: 100%;
  z-index: 3;
  display: flex;
}

.dropdownMenu_visible {
  visibility: visible;
  opacity: 1;
}

.dropdown_button {
  border: none;
  outline: none;
  background: transparent;
  color: var(--black);
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-5);
  justify-content: space-between;
}

.dropdown_button_delete {
  color: var(--color-error);
}

.dropdown_button:hover {
  background: var(--context-item-hover-background);
}

.dropdown_button {
  padding: var(--spacing-2);
}

.icon_text {
  display: flex;
  align-items: center;
  gap: var(--spacing-6);
  font-weight: 600;
  font-size: 14px;
}
