{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": ["tsconfig.app.json"],
    "tsconfigRootDir": "./",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:optimize-regex/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:jsx-a11y/recommended",
    "react-app",
  ],
  "plugins": ["@typescript-eslint", "optimize-regex", "react", "jsx-a11y"],
  "rules": {
    "no-use-before-define": "off",
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignorePattern": "^import",
        "ignoreStrings": true,
      },
    ],
    "no-console": "off",
    "no-shadow": "off",
    "no-template-curly-in-string": "error",
    "accessor-pairs": "error",
    "camelcase": "error",
    "curly": "error",
    "eqeqeq": ["error", "always"],
    "no-alert": "error",
    "no-return-assign": "error",
    "no-unneeded-ternary": "error",
    "no-unused-expressions": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-var": "error",
    "prefer-const": "error",
    "prefer-template": "error",
    "radix": "error",
    "strict": ["error", "global"],
    "arrow-parens": "error",
    "eol-last": "error",
    "react/display-name": "off",
    "lines-between-class-members": [
      "error",
      "always",
      {
        "exceptAfterSingleLine": true,
      },
    ],
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
      },
    ],
    "semi": "error",
    "semi-style": "error",
    "space-infix-ops": "error",
    "@typescript-eslint/no-use-before-define": ["off"],
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/semi": ["error", "always"],
    "@typescript-eslint/triple-slash-reference": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [".tsx", ".jsx"],
      },
    ],
    "react/prop-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-array-index-key": "error",
    "react/no-access-state-in-setstate": "error",
    "react/no-unused-prop-types": "error",
    "react/jsx-boolean-value": "error",
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
    "react/jsx-closing-tag-location": "error",
    "react/jsx-curly-newline": [
      "error",
      {
        "multiline": "consistent",
        "singleline": "consistent",
      },
    ],
    "react/jsx-wrap-multilines": "error",
    "react-hooks/exhaustive-deps": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
  },
  "overrides": [
    {
      "files": ["src/**/__mocks__/**/*", "src/**/*.test.*"],
      "rules": {
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-explicit-any": "off",
      },
    },
  ],
}
