{
    "semi": true,
    "printWidth": 120,
    "singleQuote": true,
    "bracketSpacing": true,
    "useTabs": false,
    "arrowParens": "always",
    "jsxSingleQuote": true,
    "trailingComma": "all",
    "endOfLine": "auto",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[a-zA-Z]", "^@", "^~", "^.+\\.module\\.(css|scss)$", "^\\."],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "jsx"]
}
