.root {
  width: 100%;
  border-radius: var(--border-radius-8);
  display: flex;
  transition: var(--transition);
  opacity: 1;
  position: relative;
  overflow: hidden;
  border: none;
  background-color: transparent;
  min-height: 75px;
  cursor: pointer;
}

.button {
  cursor: pointer;
  width: 100%;
}

.non_active:hover {
  background-color: var(--hover-user-badge);
}

.link {
  text-decoration: none;
  width: 100%;
}

.avatar {
  min-width: 50px;
}

.active:hover {
  opacity: 0.8;
}

.active {
  background-color: var(--active-user-badge-background);
}

.image {
  width: 20px;
  height: 20px;
  border-radius: var(--border-radius-2);
  object-fit: cover;
}

.info_subtitle {
  display: flex;
  gap: 5px;
  align-items: center;
  width: 100%;
}

.info {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: var(--spacing-2);
  gap: var(--spacing-2);
}

.right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
  gap: 1px;
  width: 100%;
}

.name {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.name_active {
  color: var(--white);
}

.unreaded {
  color: var(--white);
  background: var(--message-background);
  min-height: 22px;
  min-width: 22px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 6px;
}

.bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  color: var(--user-subtitle-color);
  font-weight: 500;
  font-size: 16px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 260px;
  width: 100%;
  padding-right: 8px;
}

.printing {
  color: var(--message-background);
}

.subtitle_active {
  color: var(--active-user-subtitle-color);
}

.ripple {
  background: rgba(255, 255, 255, 0.2);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  animation: ripple 0.8s ease-in-out;
}

.link {
  text-decoration: none;
  color: var(--black);
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
