.root {
  width: 100%;
  height: 100%;
  transition: var(--transition);
  position: relative;
}

.tablet {
  transform: translateX(-50vw);
  min-width: 100vw;
}

.mobile {
  transform: translateX(-100vw);
  min-width: 100vw;
}

.slide {
  transform: translateX(0);
}

.background {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  display: flex;
  justify-content: center;
}

.content {
  padding: 15px 15px 0;
  width: 100%;
  position: relative;
}
