.root {
  width: 100%;
  position: relative;
  background: url('https://web.telegram.org/a/chat-bg-br.f34cc96fbfb048812820.png');
  background-size: cover;
  background-position: center;
}

.root_dark {
  background: var(--chat-background);
}

.background {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  &::before {
    content: '';
    background: url('https://web.telegram.org/a/chat-bg-pattern-light.ee148af944f6580293ae.png');
    background-size: 510px auto;
    background-position: top auto;
    mix-blend-mode: overlay;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}

.background_dark {
  &::before {
    background: url('https://web.telegram.org/a/chat-bg-pattern-dark.ad38368a9e8140d0ac7d.png');
    mix-blend-mode: unset;
    background-size: 510px auto;
    background-position: top auto;
    mix-blend-mode: unset;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }
}

.content {
  padding: 15px 15px 0;
  width: 100%;
  position: relative;
}
