.root_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeletons {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--spacing-1);
  max-width: 1280px;
  width: 100%;
  padding: 0 10px 60px;
}
