.root_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root:hover {
  scrollbar-color: var(--scrollbar-color) rgba(0, 0, 0, 0);
}

.skeletons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  max-width: 1280px;
  width: 100%;
  padding: 0 10px;
}
