.root_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.root:hover {
  scrollbar-color: var(--scrollbar-color) rgba(0, 0, 0, 0);
}

.arrow {
  position: fixed;
  right: 0;
  border-radius: var(--border-radius-circle);
  background-color: var(--sidebar-background);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
  transition: var(--transition);
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  color: var(--black);
  border: none;
}

.arrow:hover {
  background-color: var(--active-user-badge-background);
  color: var(--white);
}

.arrow_visible {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.skeletons {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  max-width: 1280px;
  width: 100%;
  padding: 0 10px;
}
