.root {
  position: relative;
  width: 100%;
}

.root:hover {
  .input {
    outline: 1px solid var(--message-background);
  }

  .input_error {
    outline: 1px solid var(--color-recipient-error);
  }
}

.input {
  background: transparent;
  outline: 1px solid var(--input-background);
  border-radius: var(--border-radius-6);
  border: none;
  padding: 14px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  color: var(--black);
  transition: var(--transition);
}

.input:focus {
  transition: var(--transition);
  outline: 1px solid var(--message-background);
}

.input_error:focus {
  transition: var(--transition);
  outline: 1px solid var(--color-recipient-error);
}

.input::placeholder {
  font-weight: 500;
  transition: var(--transition);
  font-size: 16px;
  color: var(--input-placeholder);
}

.input_with_icon {
  padding: 15px 41px 15px 43px;
}

.input_error {
  outline: 1px solid var(--color-recipient-error);
}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 14px;
  transition: var(--transition);
  color: var(--input-placeholder);
}
