.root {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;
  z-index: 1;
}

.drag_area {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.input {
  background: transparent;
  border: none;
  outline: none;
  padding: 14px 20px 14px 5px;
  font-size: 16px;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  resize: none;
  transition: var(--transition);
  color: var(--black);
  max-height: 94px;
  width: 100%;
  white-space: pre-wrap;
}

.files_input {
  display: none;
}

.input_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.input_reply {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input:hover {
  scrollbar-color: #c1c1c1 rgba(0, 0, 0, 0);
}

.input::placeholder {
  color: var(--input-placeholder);
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: var(--outline-icon-button-color);
  margin: 0 10px;
  font-size: 24px;
  cursor: pointer;
  transition: var(--transition);
}

.icon_button {
  color: var(--outline-icon-button-color);
  font-size: 24px;
  cursor: pointer;
  transition: var(--transition);
  background: transparent;
  border: none;
  transition: var(--transition);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_voice {
  padding-left: 20px;
}

.input_not_absolute {
  padding-left: 15px;
}

.paper_clip {
  margin: 0 10px;
}

.icon_button:hover {
  color: var(--message-background);
}

.icon:hover {
  color: var(--message-background);
}

.button_delete:hover {
  color: var(--color-error);
}

.button {
  border: none;
  background-color: transparent;
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.preview {
  padding: 10px 20px 0;
  animation: fadeIn 0.2s ease-in-out forwards;
}

.wrapper {
  display: flex;
  align-items: center;
  max-width: 1280px;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  background: var(--message-input-background);
  border-radius: var(--border-radius-15);
}

.record_info {
  display: flex;
  gap: 8px;
  align-items: center;
  color: var(--black);
}

.recording {
  width: 12.5px;
  height: 12.5px;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-error);
  animation: infinite 1s recording;
}

@keyframes recording {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
