.root {
  display: flex;
  flex-direction: column;
  max-width: 33vw;
  min-width: 220px;
  width: 100%;
  padding: var(--spacing-2) 3px 0 var(--spacing-2);
  background: var(--sidebar-background);
  height: 100%;
}

.root_slide {
  animation: slide 0.2s ease-in-out;
  min-width: 0;
}

.nav {
  display: flex;
  width: 100%;
  margin-bottom: var(--spacing-4);
  gap: var(--spacing-3);
  align-items: center;
}

@keyframes slide {
  0% {
    min-width: 220px;
  }
  100% {
    min-width: 0;
  }
}

.dropdown_menu {
  top: 45px;
}

.relative {
  position: relative;
  display: flex;
  transition: var(--transition);
}

.mobile {
  max-width: 100%;
  transform: translateX(0);
}

.relative_mobile {
  transition: var(--transition);
  width: 100%;
}

.slide {
  transform: translateX(-100%);
}

.link {
  color: var(--black);
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  transition: var(--transition);
}

.link:hover {
  opacity: 0.7;
}

.input {
  width: 100%;
}

.dropdown {
  color: var(--outline-icon-button-color);
  transition: var(--transition);
  cursor: pointer;
}

.dropdown:hover {
  color: var(--message-background);
}
