.user_info {
  display: flex;
  gap: 18px;
  align-items: center;
  padding: 10px 15px;
  color: var(--black);
  background-color: var(--sidebar-background);
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.user_title {
  font-weight: 700;
  font-size: 18px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  color: var(--black);
}

.online {
  color: var(--message-background);
}

.rect {
  margin-bottom: 8px;
}

.back {
  background-color: transparent;
  border: none;
  color: var(--black);
  cursor: pointer;
  transition: var(--transition);
}

.back:hover {
  color: var(--message-background);
}
