@keyframes fadeInUpMy {
  0% {
    opacity: 0;
    transform: translate(15px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInUpRecipient {
  0% {
    opacity: 0;
    transform: translate(-15px, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.root {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  width: 100%;
  animation: fadeInUpMy 0.2s ease-in-out;
}

.reverse {
  flex-direction: row-reverse;
  align-self: flex-end;
  animation: fadeInUpRecipient 0.2s ease-in-out;
}

.content {
  max-width: 480px;
  background: var(--message-background);
  border-radius: var(--border-radius-8);
  padding: var(--spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
}

.content_info {
  display: flex;
  justify-content: space-between;
}

.message_preview {
  width: 100%;
}

.content_reverse {
  background: var(--recipient-message-background);
}

.content_reverse .text {
  color: var(--recipient-message-text);
}

.text {
  color: var(--white);
  font-size: 16px;
  word-break: break-all;
}

.time {
  color: var(--active-user-subtitle-color);
  font-size: 12px;
}

.content_reverse .time {
  color: var(--input-placeholder);
}

.message_info {
  display: flex;
  align-items: flex-end;
  margin-left: 7px;
  gap: var(--spacing-1);
  user-select: none;
  color: var(--white);
}

.message_info_reverse {
  color: var(--black);
}

.preview_reverse {
  color: #000;
}

.link {
  color: var(--black);
  transition: var(--transition);
}

.link:hover {
  opacity: 0.8;
}

.my_link {
  color: var(--white);
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.boldItalic {
  font-style: italic;
  font-weight: 600;
}
