.root {
  display: flex;
  gap: var(--spacing-2);
  align-items: center;
  width: 100%;
}

.reverse {
  flex-direction: row-reverse;
  align-self: flex-end;
}

.forward {
  color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding-bottom: 2px;
}

.forward_my {
  color: var(--white);
}

.forward_info {
  display: flex;
  gap: 5px;
  align-items: center;
}

.forward_from {
  font-size: 13px;
  font-weight: 300;
}

.forward_name {
  font-size: 13px;
  font-weight: 600;
}

.content {
  max-width: 480px;
  background: var(--message-background);
  border-radius: var(--border-radius-8);
  padding: var(--spacing-3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);
  position: relative;
}

.small_message {
  max-width: 320px;
  display: flex;
  align-items: center;
}

.content_info {
  display: flex;
  justify-content: space-between;
}

.content_info_image {
  padding: var(--spacing-2) var(--spacing-3) var(--spacing-3);
}

.empty_content_info {
  padding: 0;
}

.only_image {
  border-radius: var(--border-radius-8);
}

.content_image {
  padding: 0;
  gap: 0;
}

.content_image_reply {
  padding: 0;
}

.image {
  border-top-left-radius: var(--border-radius-8);
  border-top-right-radius: var(--border-radius-8);
  max-width: fit-content;
  width: auto;
  height: 0;
  user-select: none;
  max-height: 60vh;
}

.image_loaded {
  height: auto;
}

.image_reply {
  border-radius: 0;
}

.message_preview {
  width: 100%;
}

.image_mobile {
  width: 100%;
}

.message_preview_voice {
  padding-bottom: 10px;
}

.skeleton {
  display: flex;
  gap: 10px;
}

.skeleton_text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content_reverse {
  background: var(--recipient-message-background);
}

.content_reverse .text {
  color: var(--recipient-message-text);
}

.text {
  color: var(--white);
  font-size: 16px;
  word-break: break-word;
  white-space: pre-wrap;
}

.time {
  color: var(--time-color);
  font-size: 12px;
}

.time_not_my {
  color: var(--time-not-color);
}

.message_info {
  display: flex;
  align-items: flex-end;
  margin-left: 7px;
  gap: var(--spacing-1);
  user-select: none;
  color: var(--white);
}

.image_radius {
  border-bottom-left-radius: var(--border-radius-8);
  border-bottom-right-radius: var(--border-radius-8);
}

.message_preview_reply {
  padding: var(--spacing-2);
}

.empty {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: var(--white);
  background: rgba(0, 0, 0, 0.5);
  padding: 1px var(--spacing-2);
  border-radius: var(--border-radius-4);
}

.message_info_reverse {
  color: var(--black);
}

.preview_reverse {
  color: #000;
}

.image_circle {
  border-radius: var(--border-radius-8);
}

.link {
  color: var(--black);
  transition: var(--transition);
}

.link:hover {
  opacity: 0.8;
}

.my_link {
  color: var(--white);
}

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.boldItalic {
  font-style: italic;
  font-weight: 600;
}

.time_empty {
  color: var(--white);
}
