.dialogs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: var(--transition);
  overflow: auto;
  scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
  height: 100%;
  list-style: none;
}

.dialogs:hover {
  scrollbar-color: var(--scrollbar-color) rgba(0, 0, 0, 0);
}

.text {
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
  margin: auto;
}
