.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.waveform {
  max-width: 280px;
  min-width: 140px;

  @media (max-width: 600px) {
    max-width: 50vw;
    min-width: 150px;
  }
}

.button {
  background-color: var(--message-background);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-circle);
  padding: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.button_my {
  color: var(--message-background);
  background-color: var(--white);
}

.content {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.timer {
  color: var(--black);
}

.timer_my {
  color: var(--white);
}

.ripple {
  background: rgba(200, 200, 200, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  animation: ripple 0.8s ease-in-out;
}

.ripple_my {
  background: rgba(100, 100, 100, 0.4);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  animation: ripple 0.8s ease-in-out;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(2);
  }
}
