.root {
  height: 100%;
  width: 5px;
  background-color: var(--sidebar-background);
  cursor: ew-resize;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.root_mobile {
  width: 0;
  background-color: transparent;
}
